@font-face {
    font-family: 'Freigeist XCon';
    src: url('FreigeistXCon-MediumItalic.eot');
    src: local('Freigeist XCon Medium Italic'), local('FreigeistXCon-MediumItalic'),
        url('FreigeistXCon-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('FreigeistXCon-MediumItalic.woff2') format('woff2'),
        url('FreigeistXCon-MediumItalic.woff') format('woff'),
        url('FreigeistXCon-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Freigeist XCon';
    src: url('FreigeistXCon-BlackItalic.eot');
    src: local('Freigeist XCon Black Italic'), local('FreigeistXCon-BlackItalic'),
        url('FreigeistXCon-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('FreigeistXCon-BlackItalic.woff2') format('woff2'),
        url('FreigeistXCon-BlackItalic.woff') format('woff'),
        url('FreigeistXCon-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Freigeist XCon';
    src: url('FreigeistXCon-Medium.eot');
    src: local('Freigeist XCon Medium'), local('FreigeistXCon-Medium'),
        url('FreigeistXCon-Medium.eot?#iefix') format('embedded-opentype'),
        url('FreigeistXCon-Medium.woff2') format('woff2'),
        url('FreigeistXCon-Medium.woff') format('woff'),
        url('FreigeistXCon-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Freigeist XCon';
    src: url('FreigeistXCon-BoldItalic.eot');
    src: local('Freigeist XCon Bold Italic'), local('FreigeistXCon-BoldItalic'),
        url('FreigeistXCon-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('FreigeistXCon-BoldItalic.woff2') format('woff2'),
        url('FreigeistXCon-BoldItalic.woff') format('woff'),
        url('FreigeistXCon-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Freigeist XCon';
    src: url('FreigeistXCon-RegularItalic.eot');
    src: local('Freigeist XCon Italic'), local('FreigeistXCon-RegularItalic'),
        url('FreigeistXCon-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('FreigeistXCon-RegularItalic.woff2') format('woff2'),
        url('FreigeistXCon-RegularItalic.woff') format('woff'),
        url('FreigeistXCon-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Freigeist XCon';
    src: url('FreigeistXCon-Black.eot');
    src: local('Freigeist XCon Black'), local('FreigeistXCon-Black'),
        url('FreigeistXCon-Black.eot?#iefix') format('embedded-opentype'),
        url('FreigeistXCon-Black.woff2') format('woff2'),
        url('FreigeistXCon-Black.woff') format('woff'),
        url('FreigeistXCon-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Freigeist XCon';
    src: url('FreigeistXCon-Thin.eot');
    src: local('Freigeist XCon Thin'), local('FreigeistXCon-Thin'),
        url('FreigeistXCon-Thin.eot?#iefix') format('embedded-opentype'),
        url('FreigeistXCon-Thin.woff2') format('woff2'),
        url('FreigeistXCon-Thin.woff') format('woff'),
        url('FreigeistXCon-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Freigeist XCon';
    src: url('FreigeistXCon-Regular.eot');
    src: local('Freigeist XCon'), local('FreigeistXCon-Regular'),
        url('FreigeistXCon-Regular.eot?#iefix') format('embedded-opentype'),
        url('FreigeistXCon-Regular.woff2') format('woff2'),
        url('FreigeistXCon-Regular.woff') format('woff'),
        url('FreigeistXCon-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Freigeist XCon';
    src: url('FreigeistXCon-ThinItalic.eot');
    src: local('Freigeist XCon Thin Italic'), local('FreigeistXCon-ThinItalic'),
        url('FreigeistXCon-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('FreigeistXCon-ThinItalic.woff2') format('woff2'),
        url('FreigeistXCon-ThinItalic.woff') format('woff'),
        url('FreigeistXCon-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Freigeist XCon';
    src: url('FreigeistXCon-Light.eot');
    src: local('Freigeist XCon Light'), local('FreigeistXCon-Light'),
        url('FreigeistXCon-Light.eot?#iefix') format('embedded-opentype'),
        url('FreigeistXCon-Light.woff2') format('woff2'),
        url('FreigeistXCon-Light.woff') format('woff'),
        url('FreigeistXCon-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Freigeist XCon';
    src: url('FreigeistXCon-LightItalic.eot');
    src: local('Freigeist XCon Light Italic'), local('FreigeistXCon-LightItalic'),
        url('FreigeistXCon-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('FreigeistXCon-LightItalic.woff2') format('woff2'),
        url('FreigeistXCon-LightItalic.woff') format('woff'),
        url('FreigeistXCon-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Freigeist XCon';
    src: url('FreigeistXCon-Bold.eot');
    src: local('Freigeist XCon Bold'), local('FreigeistXCon-Bold'),
        url('FreigeistXCon-Bold.eot?#iefix') format('embedded-opentype'),
        url('FreigeistXCon-Bold.woff2') format('woff2'),
        url('FreigeistXCon-Bold.woff') format('woff'),
        url('FreigeistXCon-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

